<template>
  <b-card title="Card title" sub-title="Card subtitle">
    <canvas id="planet-chart"></canvas>
  </b-card>
</template>

<script>
import Chart from 'chart.js'
import planetChartData from '@/data/planet-data'

export default {
  name: 'PlanetChart',
  data() {
    return {
      planetChartData: planetChartData
    }
  },
  mounted() {
    const ctx = document.getElementById('planet-chart');
    new Chart(ctx, this.planetChartData);
  }
}
</script>
