<template>
  <b-card title="Daily Sales" :sub-title="total(dataMonth) + '€'">
    <canvas id="sales-chart"></canvas>
    {{ saleChartData }}
  </b-card>
</template>

<script>
import Chart from 'chart.js'
import moment from "moment";

export default {
  name: 'SaleChart',
  data() {
    return {
      dataMonth: []
    }
  },
  methods: {
    total(data) {
      let sum = data.reduce(function(a, b){
        return a + b
      }, 0)
      console.log(sum)
      return sum;
    },
    findAllOrders() {
      this.$http.get("/orders")
          .then(response => {
            const dataYear = [0,0,0,0,0,0,0,0,0,0,0,0]
            var months = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
            for(const item in response.data) {
              const value = response.data[item]
              const valueDate = moment(value.date_created).format('MM')
              for (let month in months) {
                if(dataYear[month] !== '') {
                  if(valueDate === months[month]) {
                    var lastVal = dataYear[month]
                    dataYear[month] = parseInt(lastVal) + parseInt(value.total)
                  }
                } else {
                  if(valueDate === months[month]) {
                    dataYear[month] = parseInt(value.total)
                  }
                }
              }
            }
            this.dataMonth = dataYear;
            var dataChart = {
              type: "bar",
              data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [
                  {
                    data: dataYear,
                    backgroundColor: "rgba(54,73,93,.5)",
                    borderColor: "#36495d",
                  }
                ]
              },
              options: {
                responsive: true,
                lineTension: 1,
                scales: {
                  yAxes: [
                    {
                      ticks: {
                        beginAtZero: true,
                        padding: 25
                      }
                    }
                  ]
                }
              }
            }
            const ctx = document.getElementById('sales-chart');
            new Chart(ctx, dataChart);
          })
          .catch(e => {
            console.log(e);
          });
    },
  },
  mounted() {
    this.findAllOrders();
    console.log(this.saleChartData)
  }
}
</script>
