<template>
  <b-card title="Total Shipments" :sub-title="total">
    <canvas id="shipment-chart"></canvas>
  </b-card>
</template>

<script>
import Chart from 'chart.js'
import shipmentChartData from '@/data/shipments-data'

export default {
  name: 'ShipmentChart',
  data() {
    return {
      shipmentChartData: shipmentChartData
    }
  },
  mounted() {
    const ctx = document.getElementById('shipment-chart');
    new Chart(ctx, this.shipmentChartData);
  },
  computed: {
    total: function(){
      let totalArray = this.shipmentChartData.data.datasets;
      let sum = totalArray["0"]["data"].reduce(function(a, b){
        return a + b
      }, 0)
      console.log(sum)
      return sum;
    }
  }
}
</script>
