<template>
  <div class="container my-3">
    <h1>List client</h1>
    <button class="btn btn-primary mb-3" v-on:click="getUser">Importer depuis Woocommerce</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product</th>
          <th scope="col">Email</th>
          <th scope="col">Tel</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="client in clients" :key="client._id">
          <td scope="row">{{ client.id_wp }}</td>
          <td scope="row">{{ client.first_name }} {{ client.last_name }}</td>
          <td scope="row"><a :href="'mailto:'+ client.email">{{ client.email }}</a></td>
          <td scope="row"><a :href="'tel:'+ client.phone">{{ client.phone }}</a></td>
          <td scope="row"><a :href="'accounts/' + client._id + '/edit'" class="btn btn-info">Voir plus</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      clients: []
    }
  },
  methods: {
    findAll() {
      this.$http.get("/client/list")
          .then(response => {
            this.clients = response.data;
            console.log(response.data);
          })
          .catch(e => {
            console.log(e);
          });
    },
    getUser() {
      let response = this.$http.get("/client/getuserwordpress");
      console.log(response)
    }
  },
  mounted() {
    this.findAll()
  }
}
</script>
