<template>
  <div id="app" class="py-4">
    <div class="row px-3">
      <div class="col-3">
        <b-card>
          <b-card-body>
            <div class="row">
              <div class="col">
                <h5>Solde total </h5>
                <span class="h2 font-weight-bold mb-0">{{ balanceYear }}</span>
              </div>
              <div class="col-auto">
                <b-icon icon="person-fill" class="h3 p-1 icon icon-shape text-white rounded-circle shadow bg-danger"></b-icon>
              </div>
            </div>
          </b-card-body>
        </b-card>
      </div>
      <div class="col-3">
        <b-card>
          <b-card-body>
            <div class="row">
              <div class="col">
                <h5>Nombre de commande</h5>
                <span class="h2 font-weight-bold mb-0">{{ balanceMonth }}</span>
              </div>
              <div class="col-auto">
                <b-icon icon="person-fill" class="h3 p-1 icon icon-shape text-white rounded-circle shadow bg-info"></b-icon>
              </div>
            </div>
          </b-card-body>
        </b-card>
      </div>
      <div class="col-3">
        <b-card>
          <b-card-body>
            <div class="row">
              <div class="col">
                <h5>Nombre de Clients</h5>
                <span class="h2 font-weight-bold mb-0">{{ clients.length }}</span>
              </div>
              <div class="col-auto">
                <b-icon icon="person-fill" class="h3 p-1 icon icon-shape text-white rounded-circle shadow bg-success"></b-icon>
              </div>
            </div>
          </b-card-body>
        </b-card>
      </div>
      <div class="col-3">
        <b-card>
          <b-card-body>
            <div class="row">
              <div class="col">
                <h5>Errors</h5>
                <span class="h2 font-weight-bold mb-0">23</span>
              </div>
              <div class="col-auto">
                <b-icon icon="person-fill" class="h3 p-1 icon icon-shape text-white rounded-circle shadow bg-danger"></b-icon>
              </div>
            </div>
          </b-card-body>
        </b-card>
      </div>
    </div>
    <div class="row px-3 pt-4">
      <div class="col-4">
        <ShipmentChart/>
      </div>
      <div class="col-4">
        <SaleChart/>
      </div>
      <div class="col-4">
        <PlanetChart/>
      </div>
    </div>
    <div class="row px-3 pt-4">
      <div class="col-5">
        <b-card bg-variant="light" text-variant="dark">
          <div class="row">
            <div class="col">
              <h4>Nouvelles commandes</h4>
            </div>
          </div>
          <b-card-body>
            <div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Client</th>
                    <th scope="col">Numéro de commande</th>
                    <th scope="col">Statut</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="order in sortedOrders.slice(0, 5)" :key="order._id">
                    <td scope="row">{{ order.client_id }}</td>
                    <td scope="row">#{{ order.order_number }}</td>
                    <td scope="row">{{ order.status }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </b-card-body>
        </b-card>
      </div>
      <div class="col-7">
        <b-card bg-variant="light" text-variant="dark">
          <div class="row">
            <div class="col">
              <h4>Nouveaux clients</h4>
            </div>
            <div class="col-auto">
            </div>
          </div>
          <b-card-body>
            <div>
              <table class="table text-dark">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Client</th>
                  <th scope="col">Email</th>
                  <th scope="col">Tel</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="client in sortedClients.slice(0, 5)" :key="client._id">
                  <td scope="row">{{ client.id_wp }}</td>
                  <td scope="row">{{ client.first_name }} {{ client.last_name }}</td>
                  <td scope="row"><a :href="'mailto:'+ client.email">{{ client.email }}</a></td>
                  <td scope="row"><a :href="'tel:'+ client.phone">{{ client.phone }}</a></td>
                  <td scope="row"><a :href="'accounts/' + client._id + '/edit'" class="btn btn-info">Voir plus</a></td>
                </tr>
                </tbody>
              </table>
            </div>
          </b-card-body>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import PlanetChart from '@/components/Chart/PlanetChart'
import ShipmentChart from '@/components/Chart/ShipmentsChart'
import SaleChart from '@/components/Chart/SalesChart'
import moment from "moment";

export default {
  name: 'App',
  components: {
    PlanetChart,
    ShipmentChart,
    SaleChart
  },
  data() {
    return {
      clients: [],
      orders: [],
      orderMonth: [],
      balanceMonth: [],
      balanceYear: [],
    }
  },
  methods: {
    findAll() {
      this.$http.get("/client/list")
          .then(response => {
            this.clients = response.data;
          })
          .catch(e => {
            console.log(e);
          });
    },
    findAllOrders() {
      this.$http.get("/orders")
          .then(response => {
            this.orders = response.data;
          })
          .catch(e => {
            console.log(e);
          });
    },
    getBalanceMonth() {
      this.$http.get("/orders")
          .then(response => {
            var balance = 0
            const monthActually = new Date()
            for(const item in response.data) {
              const value = response.data[item]
              const newDate = moment(value.date_created).format('MM/YYYY')
              if (newDate === moment(monthActually).format('MM/YYYY')) {
                balance = balance + value.total
              }
            }
            this.balanceMonth = balance;
          })
          .catch(e => {
            console.log(e);
          });
    },
    getBalanceYear() {
      this.$http.get("/orders")
          .then(response => {
            var balance = 0
            for(const item in response.data) {
              const value = response.data[item]
              balance = balance + value.total
            }
            this.balanceYear = balance;
          })
          .catch(e => {
            console.log(e);
          });
    },
  },
  computed: {
    sortedClients: function() {
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      return this.clients.sort((a, b) => new Date(b.date_created) - new Date(a.date_created))
    },
    sortedOrders: function() {
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      return this.orders.sort((a, b) => new Date(b.date_created) - new Date(a.date_created))
    }
  },
  mounted() {
    this.findAll()
    this.findAllOrders()
    this.getBalanceMonth()
    this.getBalanceYear()
  }
}
</script>
