<template>
  <div class="container my-3">
    <h1>Liste des produits</h1>
    <button class="btn btn-primary mb-3" v-on:click="getOrders">Importer depuis Woocommerce</button>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Statut</th>
        <th scope="col">Prix</th>
        <th scope="col">Quantité</th>
        <th scope="col">Nombre de vente</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="product in products" :key="product._id">
        <td scope="row">#{{ product.sku }}</td>
        <td scope="row">{{ product.name }}</td>
        <td scope="row">{{ product.status }}</td>
        <td scope="row">{{ product.price }} €</td>
        <td scope="row">{{ product.stock_quantity }}</td>
        <td scope="row">{{ product.total_sales }}</td>
        <td scope="row"><a :href="'products/edit/' + product._id" class="btn btn-info">Voir plus</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      products: [],
      client: [],
      orderMeta: [],
    }
  },
  methods: {
    getOrders() {
      let response = this.$http.get("/products/getproductwp");
      console.log(response)
    },
    findAll() {
      this.$http.get("/products")
          .then(response => {
            this.products = response.data;
          })
          .catch(e => {
            console.log(e);
          });
    },
  },
  mounted() {
    this.findAll()
  }
}
</script>
