<template>
  <div class="container my-3">
    <h1>Liste des commandes</h1>
    <button class="btn btn-primary mb-3" v-on:click="getOrders">Importer depuis Woocommerce</button>
    <button class="btn btn-primary mb-3 ml-3" v-on:click="getOrderMeta">Sync</button>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Date de création</th>
        <th scope="col">Statut</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="order in sortedOrders" :key="order._id">
        <td scope="row">#{{ order.order_number }}</td>
        <td scope="row">{{ order.client_id }}</td>
        <td scope="row">{{ formatDate(order.date_created) }}</td>
        <td scope="row"><h5><span v-bind:class="'badge ' + getClass(order.status)">{{ order.status }}</span></h5></td>
        <td scope="row"><a :href="'orders/edit/' + order._id" class="btn btn-info">Voir plus</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import moment from 'moment';
export default {
  data() {
    return {
      orders: [],
      client: [],
      orderMeta: [],
    }
  },
  methods: {
    getOrders() {
      let response = this.$http.get("/orders/getwp");
      console.log(response)
    },
    getClass(property) {
      console.log(property)
      if (property ===  'completed') {
        return 'badge-success'
      } else if (property ===  'processing') {
        return 'badge-primary'
      } else if (property ===  'pending') {
        return 'badge-warning'
      } else if (property ===  'canceled') {
        return 'badge-danger'
      } else {
        return ''
      }
    },
    formatDate(date) {
      return moment(date).format('DD/MM/YYYY')
    },
    getClientOrder(id) {
      let response = this.$http.get("/orders/get/"+id);
      console.log(response)
    },
    findAll() {
      this.$http.get("/orders")
          .then(response => {
            this.orders = response.data;
            console.log(response.data);
          })
          .catch(e => {
            console.log(e);
          });
    },
    getOrderMeta() {
      this.$http.get("/orders/update/meta")
          .then(response => {
            this.orderMeta = response.data;
          })
          .catch(e => {
            console.log(e);
          });
    },
  },
  computed: {
    sortedOrders: function() {
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      return this.orders.sort((a, b) => new Date(b.date_created) - new Date(a.date_created))
    }
  },
  mounted() {
    this.findAll()
    this.getOrderMeta()
  }
}
</script>
