<template>
  <div class="container my-3">
    <button class="btn btn-info mb-3" @click="$router.go(-1)">
      Retour
    </button>
    <h1>Commande : #{{ order.order_number }} <span class="badge bg-info text-white float-right">{{ order.status }}</span></h1>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-12 col-md-6">
            <h3 class="card-title">{{ order.client_id }}</h3>
            <h2 class="font-weight-bold">{{ order.total }} €</h2>
          </div>
          <div class="col-12 col-md-6 text-right">
            <h5>{{ formatDate(order.date_created) }}</h5>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-6">
            <table class="">
              <thead>
              <tr>
                <th scope="col">Produit</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="item in orderItems" :key="item._id">
                <td scope="row">{{ item.order_item_name }}</td>
                <td scope="row"><button class="btn btn-info" @click="findOrderItemMeta(item._id)">Voir plus</button></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-12 col-md-6">
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="meta in orderItemMeta" :key="meta._id">
                <td scope="row">{{ meta.meta_key }}</td>
                <td scope="row">{{ meta.meta_value }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import moment from "moment";

export default {
  data() {
    return {
      order: [],
      orderItems: [],
      orderItemMeta: [],
    }
  },
  methods: {
    findOne(id) {
      this.$http.get("/orders/get/"+id)
          .then(response => {
            this.order = response.data;
          })
          .catch(e => {
            console.log(e);
          });
    },
    formatDate(date) {
      return moment(date).format('DD/MM/YYYY')
    },
    findOrderItems(id) {
      this.$http.get("/orders/get/items/"+id)
          .then(response => {
            this.orderItems = response.data;
          })
          .catch(e => {
            console.log(e);
          });
    },
    findOrderItemMeta(id) {
      this.$http.get("/orders/get/item/meta/"+id)
          .then(response => {
            console.log(response.data)
            this.orderItemMeta = response.data;
          })
          .catch(e => {
            console.log(e);
          });
    },
  },
  mounted() {
    this.findOne(this.$route.params.id)
    this.findOrderItems(this.$route.params.id)
  }
}
</script>
