<template>
  <div class="container my-3">
    <button class="btn btn-info mb-3" @click="$router.go(-1)">
      Retour
    </button>
    <h1>Product : {{ client.first_name }} {{ client.last_name }}</h1>
    <form>
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name"
               v-model="client.first_name"
        />
      </div>
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name"
               v-model="client.last_name"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email"
               v-model="client.email"
        />
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address"
               v-model="client.address"
        />
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country"
               v-model="client.country"
        />
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city"
               v-model="client.city"
        />
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="tel" class="form-control" id="phone"
               v-model="client.phone"
        />
      </div>
    </form>
    <button class="btn btn-danger mr-2" @click="deleteWPCli(client._id); deleteCli(client._id)">
      Delete
    </button>
    <button type="submit" class="btn btn-success" @click="update(client._id)">
      Update
    </button>
  </div>

</template>

<script>
export default {
  data() {
    return {
      client: []
    }
  },
  methods: {
    findOne(id) {
      this.$http.get("/client/edit/"+id+"")
          .then(response => {
            this.client = response.data;
            console.log(response.data);
          })
          .catch(e => {
            console.log(e);
          });
    },
    update(id) {
      this.$http.put("/client/edit/"+id+"").update(this.client.id, this.client)
          .then(response => {
            console.log(response.data);
            this.message = 'The tutorial was updated successfully!';
          })
          .catch(e => {
            console.log(e);
          });
    },

    deleteCli(id) {
      this.$http.delete("/client/edit/"+id+"")
          .then(response => {
            console.log(response.data);
            this.$router.go(-1);
          })
          .catch(e => {
            console.log(e);
          });
    },
    deleteWPCli(id) {
      console.log(this.$http)
      this.$http.delete("/client/wp/"+id+"")
          .then(response => {
            console.log(response.data);
          })
          .catch(e => {
            console.log(e);
          });
    }
  },
  mounted() {
    this.findOne(this.$route.params.id)
  }
}
</script>
