<template>
  <div class="container my-3">
    <button class="btn btn-info mb-3" @click="$router.go(-1)">
      Retour
    </button>
    <h1>Produit : {{ product.name }} <span class="badge bg-info text-white float-right">{{ product.status }}</span></h1>
    <p class="float-right"><ins>Date de création:</ins> {{ formatDate(product.date_created) }}</p>
    <p><a :href="product.permalink" target="_blank">Voir produit</a></p>
    <div class="container mt-5">
      <div>
        <div class="row">
          <div class="col-12 col-md-4">
            <p><ins>Prix:</ins> {{ product.price }}€</p>
            <p><ins>Vente totale:</ins> {{ product.total_sales }}</p>
          </div>
          <div class="col-12 col-md-4">
            <p><ins>Type produit:</ins> {{ product.type }}</p>
          </div>
          <div class="col-12 col-md-4">
            <p><ins>État du stock:</ins> {{ product.stock_status }}</p>
            <p><ins>Quantité du stock:</ins> {{ product.stock_quantity }}</p>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 col-md-8">
            <p><ins>Description:</ins> {{ product.description }}</p>
          </div>
          <div class="col-12 col-md-4">
            <p><ins>Description courte:</ins> {{ product.short_description }}</p>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 col-md-3">
            <p><ins>Catégories:</ins></p>
          </div>
          <div class="col-12 col-md-9">
            <p>
              <span v-for="cat in product.categories" :key="cat.id">{{ cat.name }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import moment from "moment";

export default {
  data() {
    return {
      product: [],
    }
  },
  methods: {
    findOne(id) {
      this.$http.get("/products/edit/"+id)
          .then(response => {
            this.product = response.data;
          })
          .catch(e => {
            console.log(e);
          });
    },
    formatDate(date) {
      return moment(date).format('DD/MM/YYYY')
    },
  },
  mounted() {
    this.findOne(this.$route.params.id)
  }
}
</script>
