<template>
  <b-navbar toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="#">BelleVie CRM</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav class="ml-auto">

        <b-nav-item-dropdown right>
          <template #button-content>
            <b-avatar></b-avatar>
            <em class="ml-2">John Snow</em>
          </template>
          <b-dropdown-item href="#"><b-icon icon="person-fill"></b-icon> My Profile</b-dropdown-item>
          <b-dropdown-item href="#"><b-icon icon="gear-fill"></b-icon> Settings</b-dropdown-item>
          <b-dropdown-item href="#"><b-icon icon="life-preserver"></b-icon> Support</b-dropdown-item>
          <b-dropdown-item v-on:click="logUserOut"><b-icon icon="download"></b-icon> Logout</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
export default {
  methods: {
    logUserOut() {
      localStorage.removeItem("jwt");
      this.$router.push("/");
    },
  }
}
</script>
