<template>
  <b-sidebar style="width: 245px" id="sidebar-no-header" aria-labelledby="sidebar-no-header-title" class="position-relative" visible block no-header>
    <template>
      <div class="p-3">
        <nav class="mb-3">
          <b-nav vertical>
            <b-nav-item class="my-2" href="/dashboard" active><b-icon icon="layout-text-window-reverse" class="mr-3"></b-icon> Tableau de bord</b-nav-item>
            <b-nav-item class="my-2" href="/accounts"><b-icon icon="person-lines-fill" class="mr-3"></b-icon> Clients</b-nav-item>
            <b-nav-item class="my-2" href="/orders"><b-icon icon="cart-fill" class="mr-3"></b-icon> Ventes</b-nav-item>
            <b-nav-item class="my-2" href="/products"><b-icon icon="shop" class="mr-3"></b-icon> Produits</b-nav-item>
<!--            <b-nav-item class="my-2" href="/progress"><b-icon icon="graph-up" class="mr-3"></b-icon> Statistiques</b-nav-item>-->
          </b-nav>
        </nav>
      </div>
    </template>
  </b-sidebar>
</template>

<script>
</script>
