<template>
  <div id="app" class="row">
    <Sidebar class="col-3"></Sidebar>
    <div class="col-9">
      <Navbar></Navbar>
      <router-view />
    </div>
  </div>
</template>

<script>
import Navbar from './components/Navbar'
import Sidebar from './components/Sidebar'
import VueJwtDecode from "vue-jwt-decode"
export default {
  name: 'App',
  components: {
    Navbar,
    Sidebar,
  },
  data() {
    return {
      user: {},
      userIsLoggedIn: false
    };
  },
  computed: {
    isLoggedIn() {
      return this.userIsLoggedIn
    }
  },
  methods: {
    getUserDetails() {
      let token = localStorage.getItem("jwt");
      let decoded = VueJwtDecode.decode(token);
      this.user = decoded;
      this.userIsLoggedIn = this.user;
    },
    logUserOut() {
      localStorage.removeItem("jwt");
      this.$router.push("/");
    },

  },
  created() {
    this.getUserDetails();
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
