<template>
  <div id="login--page" class="container">
    <div class="card">
      <form
          class="card--form"
          @submit.prevent="loginUser"
      >
        <h1>Login</h1>
        <div class="card--content--form">
          <input
              type="text"
              id="email"
              class="form-control mb-5"
              placeholder="Email"
              v-model="login.email"
              required
          />
          <!-- Password -->
          <input
              type="password"
              id="password"
              class="form-control mb-5"
              placeholder="Password"
              v-model="login.password"
              required
          />
          <!-- Sign in button -->
          <button class="btn" type="submit">
            Sign in
          </button>
        </div>
      </form>
      <p>
        Dont have an account ?
        <router-link class="link" to="/register">
          Sign Up
        </router-link>
      </p>
    </div>
  </div>
</template>
<script>
import swal from "sweetalert";
export default {
  data() {
    return {
      login: {
        email: "",
        password: ""
      }
    };
  },
  methods: {
    async loginUser() {
      try {
        let response = await this.$http.post("/user/login", this.login);
        let token = response.data.token;
        localStorage.setItem("jwt", token);
        if (token) {
          swal("Success", "Login Successful", "success");
          this.$router.push("/dashboard");
        }
      } catch (err) {
        swal("Error", "Something Went Wrong", "error");
        console.log(err.response);
      }
    }
  }
};
</script>
